* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header { 
    padding: 30px 30px 30px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #7a7a7a;
}

header h1 {
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
}

header h1 a { /* changed the color of the seo in Horiseon/title*/
    color: rgb(207, 182, 182);
    background-color: rgb(62, 26, 160);
    padding: 20px 20px 20px 70px;
    margin-left: 0;
}

header a { /* added header element to specify location*/
    text-decoration: underline;
    color: rgb(167, 21, 21);
}

header nav { /*added to align header*/
    float: right;
    margin: 8px 0;
}

.keys { /* added class name in header*/
    display: inline-block;
    font-weight: lighter;
    font-size: 20px;
    padding: 10px 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.work {
    height: 200px;
    width: auto;
    margin-bottom: 25px;
    background-image: url("images/tigWeld.jpeg");
    background-size: 100% 100%; /* changed to percentages to improve load time. */
    background-position: center;
    text-align: right;
}

.title_block p {
    width: 200px;
    height: 100px;
    text-align: right;
    font-size: 45px;
    font-weight: bolder;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    flex: auto;
    padding: 50px, 50px;
}

.sub_title {
    text-align: center;
    background-color: pink;
    padding: 20px, 20px;
    width: 280px;
    height: 60px;
    font-size: 25px;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 130px;
    float: right;
}

.row_format {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vl {
    border-left: 6px solid green;
    height: auto;
    position: relative;
    display: inline-block;
    margin-left: 25px;
}

.content {
    margin: auto 60px auto 40px;
}

.content a {
    color: blue;
    text-decoration: underline;
    font-size: 20px;
    margin-left: 15px;
}
