* {/*default catchall*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

header { /*default header settings*/
    padding: 30px 30px 30px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #7a7a7a;
}

header h1 {/*style for name*/
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    color: rgb(80, 67, 67);
    background-color: darkgray;
    padding: 4px 8px 10px 70px;
}

header nav { /*intra page links*/
    float: right;
    margin: 8px 0;
    background-color: #7a7a7a;
}

.keys { /*hyperlink specific style*/
    display: inline-block;
    background-color: #7a7a7a;
    font-weight: lighter;
    font-size: 20px;
    padding: 10px 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    color: rgb(39, 37, 37);
}

p { /*yup*/
    font-size: 16px;
}

.work {/*former work product(ask if curious)*/
    height: 200px;
    width: 100% 100%;
    margin-bottom: 25px;
    background-image: url("images/tigWeld.jpeg");
    background-size: 100% 100%; /* changed to percentages to improve load time. */
    background-position: center;
    text-align: right;
}

.primary_image {/*largest first image in the work setion*/
    height: 100%;
    width: 100%;
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-spacing: 0px 5px;
    position: relative;
}

.primary {/*primary image container*/
    height: auto;
    width: 100%;
    position: relative;
}

.primary p {/* title on primary work image*/
    position: absolute;
    bottom: 15%;
    left: 0%;
    background-color: darkslategray;
    margin: 0px;
    font-size: 27px;
    font-weight: bold;
    padding: 8px;
}

.secondary_images {/*smaller size project images*/
    height: 133px;
    width: 393px;
    margin: 20px 0px;
    display: flex;
    border-style: solid;
    border-width: 5px;
    position: relative;
}

.secondary {/*container for secondary images*/
    height: auto;
    width: 100%;
    background-color:turquoise;
}

.work_left p {/* title block for secondary images*/
    position: absolute;
    bottom: 15%;
    left: 0%;
    background-color: darkslategray;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
}

.smallertext{/*text style in subtitle boxes*/
    background-color: darkslategray;
    font-size: smaller;
    font-weight: lighter;
}

.secondary_smallertext{/*bottom smaller text in subtitles in work project images*/
    background-color: darkslategray;
    font-size: 7px;
    font-weight: lighter;
}
.title_block p {/*row header styles*/
    width: 200px;
    height: 100px;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: lighter;
    color: rgb(58, 63, 78);
    flex: auto;
    padding: 50px, 50px;
}

.title_block {/*row header styles*/
    justify-content: space-between;
    text-align: center;
    vertical-align: middle;
}

.sub_title {/*welding picture subtitle*/
    text-align: center;
    background-color: rgb(150, 143, 143);
    padding: 10px, 10px;
    width: 280px;
    height: 60px;
    font-size: 22px;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 130px;
    float: right;
}

.row_format {/*row style*/
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.vl {/*tall straight thing*/
    border-left: 6px solid rgb(119, 114, 114);
    height: auto;
    position: relative;
    display: inline-block;
    margin-left: 25px;
}

.content {/*margin for content boxes*/
    margin: auto 60px auto 40px;
}

.content a {/*formatting the footer links*/
    text-decoration: underline;
    margin-left: 15px;
    color: darkslategray;
}

table {/*style for the four smaller work links*/
   border-spacing: 10px 10px 10px 0px;
   width: 100%;
}

.work_left {/*sets the two left smaller work links to the left*/
    float: left;
    position: relative;
}

.work_right {/*set the two right smaller work links to the right*/
    float: right;
    position: relative;
}

.work_right p {/*subtitle style for the right two smaller work links*/
    position: absolute;
    bottom: 15%;
    left: 0%;
    background-color: darkslategray;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
}

.content img {/*border style for content images*/
    border-style: solid;
    border-color: rgb(48, 49, 48);
    border-width: 3px;
    color: lightgrey;
    justify-content: space-evenly;
}

.footer_content {/*style specifically for footer content*/
    text-align: center;
    line-height: initial;
    height: inherit;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: darkslategray;
    font-size: 25px;
}

.footer_content a {/*make the foot flex*/
    margin: auto;
    flex: auto;
}

.footer_image {/*align footer image*/
    vertical-align: middle;
    margin: auto;
}


